
<!DOCTYPE html>
{% extends "home.html" %}
{% block body %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Django Series</title>
    <style>
        form{
         margin:0px;
        }

    </style>
</head>
<body>

  <form method="POST" action="/index/">
      {% csrf_token %}
      <table align="center" cellpadding="10">
          <tr>
              <td>{{ form.as_table}}</td>
          </tr>
          <tr>
              <td></td>
              <td><button type="submit">Save</button></td>
          </tr>
      </table>
</form>
</body>
</html>
{% endblock %}