<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LogIn </title>
</head>
<body>

<h1>
    <p style="..."> user login</p>
</h1>

<center>
    <form action="/login/{{ employee.id }}" method="post">
        {% csrf_token %}

        <p style=". . .">username: <input type="text" name="username"/></p>

        <p style=". . .">password: <input type="text" name="password"/></p>

        <p style=". . ."> <input type="submit" name="sign in"/></p>
        <p style=". . .">{{ error }}</p>
    </form>
</center>

</body>
</html>